@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono bg-gradient-to-r from-cyan-500 to-blue-500;
  }
  .jumbo {
    background-image: url(./assets/img/jumbo.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  main {
    @apply flex flex-col items-start w-fit lg:w-1/2	 mx-auto bg-lightmode-200 rounded pt-2 pb-3 px-4 drop-shadow-2xl;
  }

  h1 {
    @apply text-3xl font-bold text-center pt-16 mb-6;
  }

  h2 {
    @apply text-2xl font-semibold text-center pb-1 leading-loose;
  }

  h3 {
    @apply text-lg font-semibold py-1 rounded w-fit;
  }

  input {
    @apply cursor-pointer;
  }
  input[type="text"] {
    @apply px-1 bg-inherit rounded outline-none w-fit cursor-text;
  }

  .btn {
    @apply my-2 px-2 py-1 rounded-lg cursor-pointer text-white hover:opacity-70 hover:transition hover:duration-300;
  }

  .add {
    @apply bg-lightmode-400;
  }

  .delete {
    @apply bg-red-500;
  }

  .category {
    @apply px-2 py-1 rounded cursor-pointer;
  }
  .coding {
    @apply bg-darkmode-100;
  }
  .personal {
    @apply bg-darkmode-200;
  }
  .workout {
    @apply bg-category-400;
  }
  .film {
    @apply bg-cyan-400;
  }

  .todo-item {
    @apply p-1 my-2 rounded-lg flex items-baseline justify-start gap-1;
  }
  .done {
    @apply bg-gray-500;
  }
  .done-text {
    @apply line-through text-white;
  }
  .done-btn {
    @apply animate-pulse;
  }
}
